page-home {
background-color: green !important;
}
bg-color{
    background: yellow;
}
html, body { height: 100%; padding: 0; margin: 0; }
//div { width: 50%; height: 50%; float: left; }
#div1 { background: red; }
#div2 { background: #AAA; }
#div3 { background: #777; }
#div4 { background: #444; }
// div{height:100%;}

semi-height{
    height:50%;
}